.navbar{
	max-height: 50px;
	background-color: #27ae60;
}

.navbar-list{
	display: inline-flex;
}

.navbar-list li{
	list-style: none;
	padding: 10px;
}

.navbar-list li > a{
	color: #fff;
	text-decoration: none;
}

.navbar-list li > a:hover{
	color: #fff;
	border-bottom: 2px #fff solid;
}

#welcome{
	text-align: center;
	margin-top: 100px;
}

#welcome h1,h2,h3,h4,h5{
	color: #27ae60;
}

#welcome img{
	height: 180px;
	width: 180px;
	border-radius: 50%;
}

#about{
	text-align: center;
	margin-top: 100px;
}

#about h1,h2,h3,h4,h5,p{
	color: #27ae60;
}

#about p{
	font-size: 30px;
	margin-bottom: 30px;
}

#service{
	text-align: center;
	margin-top: 100px;
}
.service{
	display: inline-flex;
	margin: 20px;
}
.service i{
	padding: 20px;
	border: 2px #27ae60 solid;
	border-radius: 50%;
	color: #27ae60;
}
.service p{
	font-size: 15px;
}


#contact{
	text-align: center;
	margin-top: 100px;
}

#contact p{
	font-size: 30px;
	margin-bottom: 30px;
}
